<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>产业园区</title>
<link href="__PUBLIC__/Home/css/head.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Home/css/gion.css" rel="stylesheet" type="text/css" />
<script src="__PUBLIC__/Home/js/jquery-1.9.1.min.js"></script>
<script src="__PUBLIC__/Home/js/common.js"></script>
</head>

<body>
<div class="top">
	<p class="login"><span>登陆</span><span>注册</span>  <span class="span-right-border">我的订单</span></p>
</div>

<div class="box">
	<div class="logo-serch">
		<div class="logo"><img src="__PUBLIC__/Home/images/logo.png"></div>
        <div class="address"><p>北京</p><p>[切换城市]</p></div>
        <div class="serch"><input type="text" name="serch"><input type="button" value="搜索"></div>
    </div>
    <div class="clear"></div>
    <div class="nav-type">
    	<div class="type">全部服务分类</div>
        <div class="nav">
        	<ul>
            	<li><a href="">首页</a></li>
                <li><a href="">企业资讯</a></li>
                <li><a href="">产业园区</a></li>
                <li><a href="">楼宇经济</a></li>
                <li><a href="">厂房租售</a></li>
                <li><a href="">土地</a></li>
                <li><a href="">购买服务</a></li>
                <li><a href="">税务筹划</a></li>
                <li><a href="">行业新闻</a></li>
                <li><a href="">问答</a></li>
                <li><a href="">在线查询</a></li>
            </ul>
        </div>
    </div>
    <div class="clear"></div>
    
    <div class="area-address">
    	<div class="area-address-qu">
        	<ul>
            	<li>区域</li>
                <li class="li-style">不限</li>
                <li>海淀</li>
                <li>朝阳</li>
                <li>东城</li>
                <li>东城</li>
                <li>东城</li>
                <li>东城</li>
                <li>东城</li>
               
            </ul>
        </div>
        
        <div class="area-address-qu">
        	<ul>
            	<li>功能</li>
                <li class="li-style">不限</li>
                <li>注册</li>
                <li>土地</li>
                <li>厂房</li>
                <li>楼宇</li>
            </ul>
        </div>
        
        <div class="area-address-qu">
        	<ul>
            	<li>类型</li>
                <li class="li-style">不限</li>
                <li>自贸区</li>
                <li>高新技术产业开发区</li>
                <li>保税区</li>
                <li>旅游度假区</li>
  
            </ul>
        </div>
        
        <div class="area-address-qu no-boerder">
        	<ul>
            	<li>级别</li>
                <li class="li-style">不限</li>
                <li>国际级</li>
                <li>省级</li>
                <li>市级</li>
            </ul>
        </div>
    
    </div>

    <div class="nav-gion">
    	<ul>
        	<li><a href="">国家级</a></li>
            <li><a href="">市级</a></li>
            <li><a href="">县镇级</a></li>
            <li><a href="">高薪技术</a></li>
            <li><a href="">文化</a></li>
            <li><a href="">其他</a></li>
        </ul>
    
    </div>
    
    <!--列表开始-->
    
    <div class="gion-list">
    	<ul>
        	<li>
            	<div class="float-left gion-img"><img src="__PUBLIC__/Home/images/gion-01.png"></div>
                <div class="float-left">
                	<p class="gion-p1"><span>某某某企业</span><span>推荐指数：</span></p>
                    <p class="gion-p2">企业服务:<span>服务1</span><span>服务2</span><span>服务3</span></p>
                    <p class="gion-p3">企业优势标示语<span><img src="__PUBLIC__/Home/images/9.png"></span></p>
                </div>
            </li>
            
            <li>
            	<div class="float-left gion-img"><img src="__PUBLIC__/Home/images/gion-01.png"></div>
                <div class="float-left">
                	<p class="gion-p1"><span>某某某企业</span><span>推荐指数：</span></p>
                    <p class="gion-p2">企业服务:<span>服务1</span><span>服务2</span><span>服务3</span></p>
                    <p class="gion-p3">企业优势标示语<span><img src="__PUBLIC__/Home/images/9.png"></span></p>
                </div>
            </li>
            
            <li>
            	<div class="float-left gion-img"><img src="__PUBLIC__/Home/images/gion-01.png"></div>
                <div class="float-left">
                	<p class="gion-p1"><span>某某某企业</span><span>推荐指数：</span></p>
                    <p class="gion-p2">企业服务:<span>服务1</span><span>服务2</span><span>服务3</span></p>
                    <p class="gion-p3">企业优势标示语<span><img src="__PUBLIC__/Home/images/9.png"></span></p>
                </div>
            </li>
            
            <li>
            	<div class="float-left gion-img"><img src="__PUBLIC__/Home/images/gion-01.png"></div>
                <div class="float-left">
                	<p class="gion-p1"><span>某某某企业</span><span>推荐指数：</span></p>
                    <p class="gion-p2">企业服务:<span>服务1</span><span>服务2</span><span>服务3</span></p>
                    <p class="gion-p3">企业优势标示语<span><img src="__PUBLIC__/Home/images/9.png"></span></p>
                </div>
            </li>
            
            <li>
            	<div class="float-left gion-img"><img src="__PUBLIC__/Home/images/gion-01.png"></div>
                <div class="float-left">
                	<p class="gion-p1"><span>某某某企业</span><span>推荐指数：</span></p>
                    <p class="gion-p2">企业服务:<span>服务1</span><span>服务2</span><span>服务3</span></p>
                    <p class="gion-p3">企业优势标示语<span><img src="__PUBLIC__/Home/images/9.png"></span></p>
                </div>
            </li>
            
            <li>
            	<div class="float-left gion-img"><img src="__PUBLIC__/Home/images/gion-01.png"></div>
                <div class="float-left">
                	<p class="gion-p1"><span>某某某企业</span><span>推荐指数：</span></p>
                    <p class="gion-p2">企业服务:<span>服务1</span><span>服务2</span><span>服务3</span></p>
                    <p class="gion-p3">企业优势标示语<span><img src="__PUBLIC__/Home/images/9.png"></span></p>
                </div>
            </li>
            
            <li>
            	<div class="float-left gion-img"><img src="__PUBLIC__/Home/images/gion-01.png"></div>
                <div class="float-left">
                	<p class="gion-p1"><span>某某某企业</span><span>推荐指数：</span></p>
                    <p class="gion-p2">企业服务:<span>服务1</span><span>服务2</span><span>服务3</span></p>
                    <p class="gion-p3">企业优势标示语<span><img src="__PUBLIC__/Home/images/9.png"></span></p>
                </div>
            </li>
            
            <li>
            	<div class="float-left gion-img"><img src="__PUBLIC__/Home/images/gion-01.png"></div>
                <div class="float-left">
                	<p class="gion-p1"><span>某某某企业</span><span>推荐指数：</span></p>
                    <p class="gion-p2">企业服务:<span>服务1</span><span>服务2</span><span>服务3</span></p>
                    <p class="gion-p3">企业优势标示语<span><img src="__PUBLIC__/Home/images/9.png"></span></p>
                </div>
            </li>
            
            <li>
            	<div class="float-left gion-img"><img src="__PUBLIC__/Home/images/gion-01.png"></div>
                <div class="float-left">
                	<p class="gion-p1"><span>某某某企业</span><span>推荐指数：</span></p>
                    <p class="gion-p2">企业服务:<span>服务1</span><span>服务2</span><span>服务3</span></p>
                    <p class="gion-p3">企业优势标示语<span><img src="__PUBLIC__/Home/images/9.png"></span></p>
                </div>
            </li>
            
            <li>
            	<div class="float-left gion-img"><img src="__PUBLIC__/Home/images/gion-01.png"></div>
                <div class="float-left">
                	<p class="gion-p1"><span>某某某企业</span><span>推荐指数：</span></p>
                    <p class="gion-p2">企业服务:<span>服务1</span><span>服务2</span><span>服务3</span></p>
                    <p class="gion-p3">企业优势标示语<span><img src="__PUBLIC__/Home/images/9.png"></span></p>
                </div>
            </li>
        </ul>
    
    </div>
    <!--分页代码-->
    <div class="page">
    	<ul>
        	<li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li>8</li>
            <li>9</li>
            <li>10</li>
        </ul>
    </div>
 </div>
 <!--主题部分结束-->
 <div class="clear"></div>
<!--底部-->
<div class="footer">
	<div class="footer-box">
    	<div class="float-left auout-us">
        	<ul>
            	<li class="title"><a href="">关于我们</a></li>
                <li><a href="">了解我们</a></li>
                <li><a href="">联系我们</a></li>
                <li><a href="">加入我们</a></li>
            </ul>
        </div>
        
        <div class="float-left auout-us">
        	<ul>
            	<li class="title"><a href="">服务类容</a></li>
                <li><a href="">工商注册</a></li>
                <li><a href="">财务代理</a></li>
                <li><a href="">创业套餐</a></li>
            </ul>
        </div>
        
        <div class="float-right">
        	<p>在线客服（工作日9:00-18:00）</p>
            <h1>400-666-0888</h1>
        </div>
    
    </div>
     <div class="clear"></div>
     
     <div class="banquan">
     	<p>Copyright @ 2016 qibangbang.com Inc. All Rights Reserved</p>
        <p>企业服务（北京）有限公司 京ICP 备案16015423号</p>
     </div>

</div>


</body>
</html>
