<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>留言页</title>
<link href="css/head.css" rel="stylesheet" type="text/css" />
<link href="css/gion.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="top">
	<p class="login"><span>登陆</span><span>注册</span>  <span class="span-right-border">我的订单</span></p>
</div>

<div class="box">
	<div class="logo-serch">
		<div class="logo"><img src="images/logo.png"></div>
        <div class="address"><p>北京</p><p>[切换城市]</p></div>
        <div class="serch"><input type="text" name="serch"><input type="button" value="搜索"></div>
    </div>
    <div class="clear"></div>
    <div class="nav-type">
    	<div class="type">全部服务分类</div>
        <div class="nav">
        	<ul>
            	<li><a href="">首页</a></li>
                <li><a href="">企业资讯</a></li>
                <li><a href="">产业园区</a></li>
                <li><a href="">楼宇经济</a></li>
                <li><a href="">厂房租售</a></li>
                <li><a href="">土地</a></li>
                <li><a href="">购买服务</a></li>
                <li><a href="">税务筹划</a></li>
                <li><a href="">行业新闻</a></li>
                <li><a href="">问答</a></li>
                <li><a href="">在线查询</a></li>
            </ul>
        </div>
    </div>
    <div class="clear"></div>
    <div class="messign-content">
    	<div class="float-left messign-content-left">
        	<p>在线联系</p>
            <div class="lianxi-us">
            	<span>联系我们</span>
            	<ul>
                	<li>邮编：014033</li>
                    <li>查号台：0472-3386114</li>
                    <li>传真：0472-3384363</li>
                    <li>服务热线：8008050130</li>
                    <li>www.bfzg.com</li>
                    <li>yxg@bfzg.com</li>
                
                </ul>
            	<div class="null-div"></div>
            </div>
        </div>
        
        <div class="float-left messign-content-right">
        	<p><img src="images/about-us.png"></p>
            <div class="input-botton">
            	<p>发表留言</p>
            	<form action="" method="post" id=form1>
                	<div class="form1">
                    	<table width="100%" border="0">
                          <tr>
                            <td width="120px" align="right">姓名：</td>
                            <td width="400px;"><input type="text" name="name"></td>
                          </tr>
                          <tr>
                            <td align="right">所在地区：</td>
                            <td><input type="text" name="area"></td>
                          </tr>
                          <tr>
                            <td align="right">所在公司：</td>
                            <td><input type="text" name="complay"></td>
                          </tr>
                          <tr>
                            <td align="right">联系电话：</td>
                            <td><input type="text" name="mobile"></td>
                          </tr>
                          <tr>
                            <td align="right">Email：</td>
                            <td><input type="text" name="email"></td>
                          </tr>
                          <tr>
                            <td align="right">留言：</td>
                            <td><textarea name="message"></textarea></td>
                          </tr>
                          <tr>
                            <td>&nbsp;</td>
                            <td><input type="submit" value="提交">&nbsp;&nbsp;&nbsp;&nbsp;<input type="reset" value="取消"></td>
                          </tr>
                        </table>
                        <div class="null-div"></div>
                    </div>
                </form>
            
            </div
        </div>
    </div>
</div>

</div>
<div class="clear"></div>
<div class="footer" style="margin-top:20px;">
	<div class="footer-box">
    	<div class="float-left auout-us">
        	<ul>
            	<li class="title"><a href="">关于我们</a></li>
                <li><a href="">了解我们</a></li>
                <li><a href="">联系我们</a></li>
                <li><a href="">加入我们</a></li>
            </ul>
        </div>
        
        <div class="float-left auout-us">
        	<ul>
            	<li class="title"><a href="">服务类容</a></li>
                <li><a href="">工商注册</a></li>
                <li><a href="">财务代理</a></li>
                <li><a href="">创业套餐</a></li>
            </ul>
        </div>
        
        <div class="float-right">
        	<p>在线客服（工作日9:00-18:00）</p>
            <h1>400-666-0888</h1>
        </div>
    
    </div>
     <div class="clear"></div>
     
     <div class="banquan">
     	<p>Copyright @ 2016 qibangbang.com Inc. All Rights Reserved</p>
        <p>企业服务（北京）有限公司 京ICP 备案16015423号</p>
     </div>

</div>



</body>
</html>
