<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>税务筹划</title>
<link href="__PUBLIC__/Home/css/head.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Home/css/gion.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="top">
	<p class="login"><span>登陆</span><span>注册</span>  <span class="span-right-border">我的订单</span></p>
</div>

<div class="box">
	<div class="logo-serch">
		<div class="logo"><img src="__PUBLIC__/Home/images/logo.png"></div>
        <div class="address"><p>北京</p><p>[切换城市]</p></div>
        <div class="serch"><input type="text" name="serch"><input type="button" value="搜索"></div>
    </div>
    <div class="clear"></div>
    <div class="nav-type">
    	<div class="type">全部服务分类</div>
        <div class="nav">
        	<ul>
            	<li><a href="">首页</a></li>
                <li><a href="">企业资讯</a></li>
                <li><a href="">产业园区</a></li>
                <li><a href="">楼宇经济</a></li>
                <li><a href="">厂房租售</a></li>
                <li><a href="">土地</a></li>
                <li><a href="">购买服务</a></li>
                <li><a href="">税务筹划</a></li>
                <li><a href="">行业新闻</a></li>
                <li><a href="">问答</a></li>
                <li><a href="">在线查询</a></li>
            </ul>
        </div>
    </div>
    <div class="clear"></div>
    <div><img src="__PUBLIC__/Home/images/shuiwu-banner.jpg"></div>
    
    
	<div class="shuiwu-box">
    	<div class="float-left shuiwu-box-left">
        	<div class="shuiwu-title">税务政策</div>
            <ul>
            	<li>最近文件</li>
                <li>政策解读</li>
                <li>最近文件</li>
                <li>测试测试</li>
                <li>测试测试</li>
            </ul>
            
            <div class="shuiwu-title">税务政策</div>
            <ul>
            	<li>最近文件</li>
                <li>政策解读</li>
                <li>最近文件</li>
                <li>测试测试</li>
                <li>测试测试</li>
            </ul>
            
            <div class="shuiwu-title">税务政策</div>
            <ul>
            	<li>最近文件</li>
                <li>政策解读</li>
                <li>最近文件</li>
                <li>测试测试</li>
                <li>测试测试</li>
            </ul>
            
            <div class="shuiwu-title">税务政策</div>
            <ul>
            	<li>最近文件</li>
                <li>政策解读</li>
                <li>最近文件</li>
                <li>测试测试</li>
                <li>测试测试</li>
            </ul>
        </div>
        
        
        <div class="float-right shuiwu-box-right">
        	<div class="right-title">税务筹划</div>
            
            <p>美国税法结构完善，课税种类繁多，往往有不少人士匆匆赴美拿到绿卡时，才发现一连串税款在面前等着，把属于自己的钱慷慨捐赠给美国国税局。这时再去咨询税务顾问规划的空间就相对小了。

因此，对有意移民或长居美国的非美公民来说，赴美前进行税务筹划可谓有百益而无一害。在此，外联出国的美国税务顾问竭诚为欲移民美国的朋友们分享移民前可提前做的一些规划，助大家在移民时能降低未来在美的税赋。

筹划方案

1、选择有利合理降低税务的绿卡申请人

以收入低、财产少且有长居美国意愿的配偶来做绿卡的主申请人，另一方根据需要考虑是否申请。比如，当先生为家中“赚钱主力军”时，如果以太太的身份申请绿卡，将可避免以先生名义申请所面临的海外所得可能需要缴纳的美国所得税等问题。

2、避免绿卡取得前成为税务居民

在取得临时绿卡之前，申请人如果常常以商务或旅游签证(B1或B2)赴美国考察，一年度在美国停留时间超过183天或本年加上前两年依照美国税法规定加权计算超过了183天，按照美国税法将成为美国税务居民，一样要纳税，故要谨慎小心。建议非美籍人士一年不要在美居住太长时间，比如太太有绿卡，先生作为眷属每年度只去美国一段时间的人士。

3、移民前考虑各类财产整理及处分

美国对已实现的资本利得征收税款，故若在移民之前就做好税务安排，考虑财产处分，可以达到一定的节税效果。而且美国鼓励大家做长期投资，长期持有的资产（一年以上）在交易后若有收益，其收入需要缴纳的税款要低于短期投资。因此，在移民前应对自己有的财产有清楚的认知，并按不同类资产进行整理及相应处理，并在移民后更多考虑长期投资的项目。例如：在移民前可考虑将账面上已有较大收益的股票可先行出售，至于账面上为亏损的股票则可继续保有，将来移民后再行出售，抵扣其他资本利得。
再申报一次。

总结

以上为在移民之前就可操作的筹划方案，美国税法虽复杂，但公平合理、法令执行透明，只要提前规划，就无需担心拿到绿卡后的美国税务问题。在美国政府已经掌握纳税义务人所有的财产状况下，想要节税的空间变得相当有限，因此建议各位在移民前就着手财产规划。移民后还可行的税务筹划我们也将在未来与大家分享。
</p>
        
        </div>
    
    </div>    

</div>


 <div class="clear"></div>
<!--底部-->
<div class="footer">
	<div class="footer-box">
    	<div class="float-left auout-us">
        	<ul>
            	<li class="title"><a href="">关于我们</a></li>
                <li><a href="">了解我们</a></li>
                <li><a href="">联系我们</a></li>
                <li><a href="">加入我们</a></li>
            </ul>
        </div>
        
        <div class="float-left auout-us">
        	<ul>
            	<li class="title"><a href="">服务类容</a></li>
                <li><a href="">工商注册</a></li>
                <li><a href="">财务代理</a></li>
                <li><a href="">创业套餐</a></li>
            </ul>
        </div>
        
        <div class="float-right">
        	<p>在线客服（工作日9:00-18:00）</p>
            <h1>400-666-0888</h1>
        </div>
    
    </div>
     <div class="clear"></div>
     
     <div class="banquan">
     	<p>Copyright @ 2016 qibangbang.com Inc. All Rights Reserved</p>
        <p>企业服务（北京）有限公司 京ICP 备案16015423号</p>
     </div>

</div>


</body>
</html>
